<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Legal Gather - Candidates</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/legalgather" class="mylogo"> Legal-Gather</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/legalgather/candidates">Job Seekers</a></li>
            <li><a href="/legalgather/employers">Talent Seekers</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
       </br>
     </br>
   </br>
         <div id="workform">

               <div class="row">
                 <div class="col s6 offset-s3">
                   <div class="card">
                     <div class="card-content">
                       <span class="card-title">Profile / Resume</span>
                         <form action="/addworker" method="post">

                       </br>
                       <p><strong>Location: </strong>Enter Phoenix for the greater metro area, or enter Other if outside the Phoenix area.</p>
                       <div class="input-field col s12">
                       <input name="location" placeholder="Location" id="location" type="text" class="validate">
                       </div>
                     </br>
                       <p><strong>Willing to Relocate: </strong>Enter true or false.</p>
                       <div class="input-field col s12">
                       <input name="relocate" placeholder="Relocate" id="relocate" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Experience: </strong> in years</p>
                       <div class="input-field col s12">
                       <input name="experience" placeholder="Experience" id="experience" type="text" class="validate">
                       </div>
                         </br>
                         <p><strong>Years Out of School: </strong></p>
                         <div class="input-field col s12">
                         <input name="yearsout" placeholder="Years Out" id="yearsout" type="text" class="validate">
                         </div>
                           </br>
                         <p><strong>Current Position: </strong>Enter Attorney, Paralegal, or Other</p>
                         <div class="input-field col s12">
                         <input name="current" placeholder="Current" id="current" type="text" class="validate">
                         </div>
                           </br>
                           <p><strong>Level: </strong>Associate, Partner, etc. Leave blank if not applicable.</p>
                           <div class="input-field col s12">
                           <input name="level" placeholder="Level" id="level" type="text" class="validate">
                           </div>
                             </br>
                             <p><strong>Practice Specialty: </strong></p>
                             <div class="input-field col s12">
                             <input name="practice" placeholder="Practice" id="practice" type="text" class="validate">
                             </div>
                               </br>
                           <p><strong>Current Employer: </strong></p>
                           <div class="input-field col s12">
                           <input name="employer" placeholder="Current Employer" id="employer" type="text" class="validate">
                           </div>
                             </br>
                           <p><strong>Past Positions: </strong>Enter Attorney, Paralegal, or Other</p>
                           <div class="input-field col s12">
                           <input name="past" placeholder="Past" id="past" type="text" class="validate">
                           </div>
                             </br>
                             <p><strong>Interests & Accomplishments: </strong></p>
                             <div class="input-field col s12">
                             <input name="other" placeholder="Other" id="other" type="text" class="validate">
                             </div>
                               </br>
                       <p><strong>Certifications: </strong></p>
                       <div class="input-field col s12">
                       <input name="certifications" placeholder="Certifications" id="certifications" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Licensing: </strong></p>
                       <div class="input-field col s12">
                       <input name="license" placeholder="License" id="license" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Degrees: </strong></p>
                       <div class="input-field col s12">
                       <input name="degree" placeholder="Degrees" id="degrees" type="text" class="validate">
                       </div>
                         </br>
                       <p><strong>Skills: </strong></p>
                       <div class="input-field col s12">
                       <input name="skills" placeholder="Skills" id="skills" type="text" class="validate">
                       </div>
                     </br>
                     <p><strong>Name: </strong></p>
                     <div class="input-field col s12">
                     <input name="name" placeholder="Name" id="name" type="text" class="validate">
                     </div>
                   </br>
                 <p><strong>Phone: </strong></p>
                 <div class="input-field col s12">
                 <input name="phone" placeholder="Phone" id="phone" type="text" class="validate">
                 </div>
               </br>
               <p><strong>Email: </strong></p>
               <div class="input-field col s12">
               <input name="email" placeholder="Email" id="email" type="text" class="validate">
               </div>
               <button class="btn waves-effect waves-light" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
       </button>
             </form>
             </br>
                   </br>

           </div>
           </div>
           </div>
           </div>
         </div>

    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>



  </body>
</html>
