<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Legal Gather - Admin</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/legalgather" class="mylogo"> Legal-Gather</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/legalgathercandidates">Job Seekers</a></li>
            <li><a href="/legalgatheremployers">Talent Seekers</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
       </br>
     </br>
   </br>
         <div id="workform">

               <div class="row">
                 <div class="col s6">
                   <div class="card">
                     <div class="card-content">
                       <span class="card-title">Candidate Profiles</span>
                       <table class="striped">
 <thead>
   <tr>
       <th>Name</th>
       <th>Details & Matches</th>
       <th>Edit</th>
       <th>Delete</th>
   </tr>
 </thead>

 <tbody>
   <% for(i=0;i<workers.length;i++){ %>
   <tr>
     <td><%= workers[i].name %></td>
     <td><a href="">Details & Matches</a></td>
     <td><a href="">Edit</a></td>
     <td><a href="">Delete</a></td>

   </tr>
   <% } %>
 </tbody>
</table>
             </br>
                   </br>

           </div>
           </div>
           </div>
           <div class="col s6">
             <div class="card">
               <div class="card-content">
                 <span class="card-title">Jobs</span>
           <table class="striped">
<thead>
<tr>
<th>Title</th>
<th>Details & Matches</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>

<tbody>
<tr>
<td>data</td>
<td>link</td>
<td>link</td>
<td>link</td>

</tr>
</tbody>
</table>
</br>
</br>
           </div>
         </div>
       </div>
     </div>
   </div>
    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>



  </body>
</html>
