<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <title>Legal Gather - Employers</title>

<link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
<div class="large card">
      <nav class="nav-extended black" id="header">
        <div class="nav-wrapper">
          <a href="/legalgather" class="mylogo"> Legal-Gather</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/legalgathercandidates">Job Seekers</a></li>
            <li><a href="/legalgatheremployers">Talent Seekers</a></li>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
  <li class="tab"><a href="#test1"></a></li>
  <li class="tab"><a class="active" href="#test2"></a></li>
  <li class="tab disabled"><a href="#test3"></a></li>
  <li class="tab"><a href="#test4"></a></li>
</ul>
        </div>
      </nav>


         <div class="card-image">
           <img src="/images/anders-jilden-3871.jpg" />
         </div>
       </br>
     </br>
   </br>
         <div class="row">
           <div class="col s6 offset-s3">
             <div class="card">
               <div class="card-content">
                 <span class="card-title">Job Description</span>
                   <form action="/addjob" method="post">

                 </br>
                 <p><strong>Location: </strong></p>
                 <div class="input-field col s12">
                 <input name="location" placeholder="Location" id="location" type="text" class="validate">
                 </div>
               </br>
                 <p><strong>Willing to Accept Remote Workers (enter true or false): </strong></p>
                 <div class="input-field col s12">
                 <input name="relocate" placeholder="Relocate" id="relocate" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Experience: </strong> in years</p>
                 <div class="input-field col s12">
                 <input name="experience" placeholder="Experience" id="experience" type="text" class="validate">
                 </div>
                   </br>
                   <p><strong>Previous Title Required: </strong></p>
                   <div class="input-field col s12">
                   <input name="current" placeholder="Current" id="current" type="text" class="validate">
                   </div>
                     </br>
                       <p><strong>Interests & Accomplishments Desired: </strong></p>
                       <div class="input-field col s12">
                       <input name="other" placeholder="Other" id="other" type="text" class="validate">
                       </div>
                         </br>
                 <p><strong>Certifications: </strong></p>
                 <div class="input-field col s12">
                 <input name="certifications" placeholder="Certifications" id="certifications" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Licensing: </strong></p>
                 <div class="input-field col s12">
                 <input name="license" placeholder="License" id="license" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Degrees: </strong></p>
                 <div class="input-field col s12">
                 <input name="degrees" placeholder="Degrees" id="degrees" type="text" class="validate">
                 </div>
                   </br>
                 <p><strong>Skills: </strong></p>
                 <div class="input-field col s12">
                 <input name="skills" placeholder="Skills" id="skills" type="text" class="validate">
                 </div>
               </br>
               <p><strong>Job Title: </strong></p>
               <div class="input-field col s12">
               <input name="jobtitle" placeholder="Jobtitle" id="jobtitle" type="text" class="validate">
               </div>
             </br>
           <p><strong>Phone: </strong></p>
           <div class="input-field col s12">
           <input name="phone" placeholder="Phone" id="phone" type="text" class="validate">
           </div>
         </br>
         <p><strong>Email: </strong></p>
         <div class="input-field col s12">
         <input name="email" placeholder="Email" id="email" type="text" class="validate">
         </div>
         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
 <i class="material-icons right">send</i>
 </button>
       </form>
       </br>
             </br>

     </div>
     </div>
     </div>
     </div>
   </div>
    </br>
    </br>
   </br>
   </br>
   </br>
     </br>
      </br>
      </br>
    </br>
     </br>
     </br>
   </div>
 </br>
  </br>
  </br>
</br>
 </br>
 </br>
</br>
 </br>
 </br>
</br>
</br>
</br>



  </body>
</html>
