<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Legal Gather Login</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <nav class="nav-extended black" id="header">
      <div class="nav-wrapper">
        <a href="/legalgather" class="mylogo"> Legal-Gather</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/legalgather/candidates">Job Seekers</a></li>
          <li><a href="/legalgather/employers">Talent Seekers</a></li>
        </ul>
      </div>
    </nav>
    <div class="col s6">
  <h2 class="header">Admin Login</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="/images/anders-jilden-3871.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <form action="/legalgather/login" method="post">
          <div class="row">
            <div class="input-field col s12">
  <input id="email" type="text" class="validate" name="email" placeholder="email">
  <label for="email">Email</label>
</div>
          </div>
          <div class="row">
            <div class="input-field col s12">
  <input id="password" type="password" class="validate" name="password" placeholder="password">
  <label for="password">Password</label>
</div>
<div class="row">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
<i class="material-icons right">send</i>
</button>
</div>

          </div>
        </form>
      </div>
      <div class="card-action">

      </div>
    </div>
  </div>
</div>

  </body>
</html>
